page-login {

    .login-title{
        font-family: freescript;
        color: color($colors, "light");
        font-size: 4em;
    }

    .login-bg{
        background-image: url("../../assets/img/login_fondo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;        
    }

    scroll-content {
        display: flex;
        flex-direction: column;
        
    }

    ion-grid{
        height: 100%;
        padding: 0px;
    }

    .space{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   .text-input-wp{
       border-color: white;
   }

    
}
 